body {
	font-family: Ubuntu;
	font-size: 18px;
	line-height: 140%;
	background-color: whitesmoke;
	}
.divPageBody {
	margin-top: 80px;
	width: 560px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 400px;
	}
.divChatlogViewer {
	width: 560px;
	min-height: 400px;
	margin-top: 15px;
	}
.divChatMsgContainer {
	font-family: "Ubuntu";
	font-size: 16px;
	padding: 5px;
	margin-bottom: 10px;
	background-color: white;
	box-shadow: 2px 2px 2px silver;
	}
.divChatMsg {
	}
.divLogonMessage {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	}
.divPrompt {
	color: black;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 3px;
	}
.divTweetCheckbox {
	font-size: 12px;
	float: right;
	margin-top: 4px;
	margin-bottom: 1px;
	}
.divTweetCheckbox input {
	font-size: 12px;
	margin-bottom: 1px;
	transform: scale(.9);
	margin-top: 0;
	}
.divCharCount {
	color: darkgray;
	font-weight: bold;
	font-size: 18px;
	margin-top: 5px;
	min-height: 40px;
	}
.divStream {
	margin-bottom: 25px;
	}
.divStuffThatsHiddenWhenNotActive {
	display: none;
	margin-bottom: 10px;
	}


:focus, :visited:focus {
	border-color: rgba(82, 168, 236, 0.8);
	outline: 0;
	outline: thin dotted \9;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
	
	background-color: white;
	
	}
.emoji {
	width: 1.4em;
	height: 1.4em;
	display: inline-block;
	margin-bottom: 0;
	}

.divTweetCheckbox a {
	text-decoration: none;
	}


.divEditorSection {
	width: 560px;
	}
.divVideoSection {
	width: 560px;
	height: 315px;
	margin-bottom: 3px;
	}
.divServerStats {
	font-size: 12px;
	line-height: 110%;
	margin-top: 10px;
	}
.divPreviewSection {
	width: 560px;
	margin-bottom: 5px;
	}
.divBodyEditorContainer {
	}
.divBodyEditor {
	border: 1px solid silver;
	width: 548px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: "Ubuntu";
	font-size: 15px;
	letter-spacing: 0.01rem;
	font-weight: 400;
	font-style: normal;
	line-height: 1.4;
	min-height: 3em;
	}
.divPostButton {
	margin-top: 5px;
	float: right;
	}
.btnPost {
	width: 95px;
	}
.divChatTopLine {
	margin-bottom: 5px;
	}
.spChatAuthorName {
	font-weight: bold;
	cursor: pointer;
	}
.spChatAuthorName a {
	font-size: .9em;
	color: black;
	}
.spChatWhen {
	font-size: .9em;
	font-style: italic;
	}
.spChatTweetLink {
	font-size: .85em;
	margin-left: .2em;
	}
.divChatWhen {
	font-size: .9em;
	font-style: italic;
	}
.divChatBody {
	font-size: 14px;
	}
.divChatBody img {
	max-width: 90%;
	margin-top: 3px;
	}
.tdIconInChat {
	vertical-align: top;
	min-width: 48px;
	}
.tdTextInChat {
	vertical-align: top;
	padding-left: 8px;
	line-height: 120%;
	}
.divUserIcon {
	}
.aShowMoreLink {
	cursor: pointer;
	}
.spHiddenText {
	display: none;
	}
.tdCol1 {
	vertical-align: top;
	padding-right: 10px;
	}
.tdCol2 {
	vertical-align: top;
	padding-left: 10px;
	}

.spRedCharCount {
	color: red;
	}

.spLikes, .spLink {
	font-size: .8em;
	cursor: pointer;
	color: darkslategray;
	}
.spLikes a, .spLink a {
	color: darkslategray;
	}
.spThumb a {
	color: lightslategray;
	}

/* intro dialog */
	.divIntroDialog p {
		font-family: Georgia;
		font-size: 18px;
		line-height: 140%;
		padding-top: 12px;
		}
	.divIntroDialog .modal.fade.in {
		top: 10%;
		}
	.divIntroDialog .modal {
		width: 650px;
		left: 45%;
		}
	.divIntroDialog .modal-body {
		padding: 0;
		max-height: none;
		}
	.divIntroDialog .btn {
		width: 80px;
		margin-left: 5px;
		}
	.divIntroBodyText {
		margin-left: 17px;
		margin-right: 20px;
		margin-top: 5px;
		margin-bottom: 30px;
		}

.divCol1 {
	width: 560px;
	display: table-cell;
	vertical-align: top;
	padding-right: 15px;
	}
.divCol2 {
	width: 560px;
	display: table-cell;
	vertical-align: top;
	}



.divBodyEditor p {
	margin-top: .3em;
	}
.divBodyEditor h3 {
	font-family: "Open Sans";
	font-size: 1.3em;
	margin-top: 0;
	}
.divBodyEditor h2 {
	font-family: "Open Sans";
	font-size: 1.7em;
	margin-top: 0;
	}
.divTitleEditor {
	font-family: "Open Sans";
	font-size: 50px;
	font-weight: 800;
	letter-spacing: -0.03em;
	min-height: 1em;
	
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: 6px;
	padding-right: 6px;
	line-height: 100%;
	}
.divTitleEditor p {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	}
.divDescriptionEditor {
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: 800;
	letter-spacing: -0.03em;
	min-height: 1em;
	margin-top: 0;
	
	padding-top: .3em;
	padding-bottom: .3em;
	padding-left: 6px;
	padding-right: 6px;
	line-height: 100%;
	}
.divBelowTheFold {
	margin-top: 40px;
	}
.divChangeNotes {
	margin-top: 25px;
	}
.divChangeNotes li {
	margin-bottom: .4em;
	}
.medium-editor-placeholder:after {
	font-style: normal;
	font-size: 1em;
	top: .3em;
	}
.divVersionNumber {
	font-size: 12px;
	float: right;
	padding: 10px;
	}
.iMenuCheck {
	margin-left: -20px;
	margin-right: 4px;
	}

.divClickableMsg {
	cursor: pointer;
	}

/* 8/10/17 by DW */
	.divMainColumn {
		width: 560px; 
		margin-left: auto; 
		margin-right: auto;
		}
	.divPrompt {
		display: none;
		}
	.divTweetCheckbox {
		display: none;
		}
/* 8/15/17 by DW */
	.divChatBottomLine {
		margin-top: 5px;
		margin-bottom: 3px;
		}
	.spLink {
		margin-right: .5em;
		}
	.spChatTitle {
		font-weight: bold;
		margin-right: 5px;
		}
	
	.divRenderedOutline {
		margin-left: 5px;
		}
	.divRenderedOutline .divOutlineHead .aOutlineTextLink {
		color: black;
		}
	.divOutlineHead {
		font-weight: 500;
		}
	.divRenderedOutline .divOutlineText {
		line-height: 135%;
		font-size: 14px;
		min-height: 14px;
		color: black;
		margin-bottom: 10px;
		}
	.ulLevel0 {
		margin-left: -2px;
		}
/* 8/25/17 by DW */
	.spOldSchoolEmoji {
		font-size: 1.2em;
		}
/* 9/23/17 by DW */
	.divOutlineHead {
		font-size: 16px;
		margin-bottom: 10px;
		}
/* 1/8/18 by DW */
	.divJsonText pre {
		background-color: white;
		border: none;
		margin: 0;
		padding: 0;
		font-size: 12px;
		}

/* styles for phone */
	@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 480px) {
		.divPageBody {
			width: 100%;
			margin-top: 5px;
			}
		.divCol1 {
			display: block;
			padding-right: 0;
			}
		.divCol2 {
			margin-top: 25px;
			width: 95%;
			margin-left: 5px;
			display: block;
			}
		.divServerStats {
			display: none;
			}
		}
/* styles for tablet */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.divPageBody {
			width: 560px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 90px;
			}
		.divCol1 {
			display: block;
			padding-right: 0;
			}
		.divCol2 {
			margin-top: 25px;
			width: 95%;
			margin-left: 5px;
			display: block;
			}
		.divServerStats {
			display: none;
			}
		}


